@model IEnumerable<GeekRegistrationSystem.Models.Candidate>

@{
    ViewBag.Title = "Candidates List";
}

<h2>Candidates List</h2>

<p>
    @Html.ActionLink("Register a new candidate", "Create")
</p>
@using (Html.BeginForm())
{
    <table class="table">
        <tr>
            <td class="dl-horizontal">
                 @Html.DropDownList("skillId", new SelectList(ViewBag.skills,  "Id", "Name"), new { @class="btn btn-default" })
                <input type="submit" value="Filter Results" class="btn btn-default"/>
                @Html.ActionLink("Clear Filter", "Index", new { @class="btn btn-default" })
            </td>
            <td>
                
            </td>
        </tr>
    </table>
 }
    <p>
        
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                Skills
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @foreach (var skill in item.CandidateSkills)
                    {
                        <text>[</text>
                        @Html.DisplayFor(modelItem => skill.Skill.Name)
                        <text>]&nbsp;&nbsp;</text>
                    }
                   
                </td>

                <td>
                    @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
                    @Html.ActionLink("Details", "Details", new { id=item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id=item.Id })
                </td>
            </tr>
}

    </table>
